        * {
            box-sizing: border-box;
            font-family: sans-serif;
        }

        body {
            margin: 0;
            background: #f6f5f5;
        }

        h1,
        h2,
        h3,
        h4 {
            color: white;
            margin: 10px;
        }

        #container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 1100px;
            min-height: calc(100vh);
            margin: 0 auto;
            border-left: 1px solid #e2e2e2;
            border-right: 1px solid #e2e2e2;
            background: black;
        }

        .row {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .col {
            display: flex;
            flex-direction: column;
        }

        .block {
            padding: 10px;
            color: #212529;
            width: 100%;
        }
   
        h1 {
           text-align: left;
           text-transform: uppercase;
       }

       .img-header img {
          width: 100%;
       }

       article {
           background: white;
           padding: 100px 0;
           color: black;
       }
     
       .about-title {
           color: black;
       }

       .about-desc, .about-btn {
           padding: 10px;
       }

       .about-btn {
           margin: 10px;
       }

       footer {
          color: white;
          padding: 10px;
       }
