.scrollToTopBtn {
    position: fixed;
    bottom: 70px;
    left: 37px;
    display: none;
    padding: 8px 4px;
    cursor: pointer;
    transition: all .8s ease-in-out;
    width: 53px;
    border: none;
}

.scrollToTopBtn:hover  {
     filter: brightness(120%);
}

.top-btn-img {
    width: 50px;
}

@media (max-height: 390px) {
    .scrollToTopBtn {
	 display: none !important;    
    }
}
