/**
* Header Home Image
*/
/* Основной фон по умолчанию */
.header-background-img { 
    position: relative;
    height: 100vh;
    width: 100%;
    background: url('../../img/header-img/bitum-header.jpg');
    background-size: cover;
}

/* Отдельные фоны для различных размеров экрана */

/* Меньшие размеры */
@media (min-width: 344px) and (max-height: 882px) {
    .header-background-img { 
        background: url('../../img/header-img/344X882.png'); 
    } 
}

@media (min-width: 360px) and (max-height: 740px) {
    .header-background-img { 
        background: url('../../img/header-img/360X740.png'); 
    } 
}

@media (min-width: 375px) and (max-height: 667px) {
    .header-background-img { 
        background: url('../../img/header-img/375X667.png'); 
    } 
}

@media (min-width: 390px) and (max-height: 844px) {
    .header-background-img { 
        background: url('../../img/header-img/390X844.png'); 
    } 
}

@media (min-width: 412px) and (max-height: 914px) {
    .header-background-img { 
        background: url('../../img/header-img/412X914.png'); 
    } 
}

@media (min-width: 412px) and (max-height: 915px) {
    .header-background-img { 
        background: url('../../img/header-img/412X915.png'); 
    } 
}

@media (min-width: 414px) and (max-height: 896px) {
    .header-background-img { 
        background: url('../../img/header-img/414X896.png'); 
    } 
}

@media (min-width: 430px) and (max-height: 932px) {
    .header-background-img { 
        background: url('../../img/header-img/430X932.png'); 
    } 
}

@media (min-width: 540px) and (max-height: 720px) {
    .header-background-img { 
        background: url('../../img/header-img/540X720.png'); 
    } 
}

@media (min-width: 768px) and (max-height: 1024px) {
    .header-background-img { 
        background: url('../../img/header-img/768X1024.png'); 
    } 
}

@media (min-width: 820px) and (max-height: 1180px) {
    .header-background-img { 
        background: url('../../img/header-img/820X1180.png'); 
    } 
}

@media (min-width: 853px) and (max-height: 1280px) {
    .header-background-img { 
        background: url('../../img/header-img/853X1280.png'); 
    } 
}

@media (min-width: 912px) and (max-height: 1368px) {
    .header-background-img { 
        background: url('../../img/header-img/912X1368.png'); 
    } 
}

@media (min-width: 1024px) and (max-height: 1366px) {
    .header-background-img { 
        background: url('../../img/header-img/1024X1366.png'); 
    } 
}

@media (min-width: 1024px) and (max-height: 600px) {
    .header-background-img { 
        background: url('../../img/header-img/1024X600.png'); 
    } 
}

@media (min-width: 1280px) and (max-height: 800px) {
    .header-background-img { 
        background: url('../../img/header-img/1280X800.png'); 
    } 
}


.bitum-group {
    width: 100%;
}

/**
* Parallax Logotype

.parallax-logotype {
    position: relative;
    top: 40vh;
    display: block;
    margin: 0 auto;
    width: 300px;
    z-index: 1;
}
*/
.parallax-logotype {
    position: absolute;
    top: 40vh;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    width: 300px;
    z-index: 1;
}

.bitum-logotype {
    width: 300px;
    -webkit-filter: drop-shadow(8px 6px 4px var(--color-dark));
            filter: drop-shadow(8px 6px 4px var(--color-dark));   
    -webkit-transition: -webkit-transform 1s;   
    transition: -webkit-transform 1s;   
    -o-transition: transform 1s;   
    transition: transform 1s;   
    transition: transform 1s, -webkit-transform 1s;
}

.bitum-logotype:hover {
   -webkit-transform: scale(1.5);
       -ms-transform: scale(1.5);
           transform: scale(1.5);
}

@media (max-width: 768px) {
    .bitum-logotype:hover {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
    }
}

@media (max-width: 350px) {
    .parallax-logotype {
        width: 250px;
    }
    
    .bitum-logotype {
        width: 250px;
    }
}
