/**
* Header Home Image
*/
/* Основной фон по умолчанию */
.header-background-img { 
    position: relative;
    height: 100vh;
    width: 100%;
    background: url('../../img/header-img/bitum-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* Фон для экранов меньше 350px */
@media (max-width: 350px) {
  .header-background-img {
        background-image: url('../../img/bitum-header-media-image/350.png');
  }
}

/* Фон для экранов меньше 400px */
@media (max-width: 400px) {
  .header-background-img {
        background-image: url('../../img/bitum-header-media-image/400.png');
  }
}

/* Фон для экранов меньше 500px */
@media (max-width: 500px) {
  .header-background-img {
        background-image: url('../../img/bitum-header-media-image/500.png');
  }
}

/* Фон для экранов меньше 600px */
@media (max-width: 600px) {
  .header-background-img {
        background-image: url('../../img/bitum-header-media-image/600.png');
  }
}

/* Фон для экранов меньше 768px */
@media (max-width: 768px) {
  .header-background-img {
        background-image: url('../../img/bitum-header-media-image/768.png');
  }
}

/* Фон для экранов меньше 992px */
@media (max-width: 992px) {
  .header-background-img {
        background-image: url('../../img/bitum-header-media-image/992.png');
  }
}

/* Фон для экранов меньше 1200px */
@media (max-width: 1200px) {
  .header-background-img {
        background-image: url('../../img/bitum-header-media-image/1200.png');
  }
}

/* Медиа запрос для экрана с шириной 1366px и высотой 768px */
@media @media (min-width: 1366px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 768px) {
    .header-background-img {
        background-image: url('../../img/bitum-header-media-image/1366x768.png');
    }
}
/*
@media (min-width: 1280px) {
    .header-background-img {
        background-image: url('../../img/bitum-header-media-image/big-bitum.jpg');
      }
}
*/
.bitum-group {
    width: 100%;
}

/**
* Parallax Logotype

.parallax-logotype {
    position: relative;
    top: 40vh;
    display: block;
    margin: 0 auto;
    width: 300px;
    z-index: 1;
}
*/
.parallax-logotype {
    position: absolute;
    top: 40vh;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    width: 300px;
    z-index: 1;
}

.bitum-logotype {
    width: 300px;
    -webkit-filter: drop-shadow(8px 6px 4px var(--color-dark));
            filter: drop-shadow(8px 6px 4px var(--color-dark));   
    -webkit-transition: -webkit-transform 1s;   
    transition: -webkit-transform 1s;   
    -o-transition: transform 1s;   
    transition: transform 1s;   
    transition: transform 1s, -webkit-transform 1s;
}

.bitum-logotype:hover {
   -webkit-transform: scale(1.5);
       -ms-transform: scale(1.5);
           transform: scale(1.5);
}

@media (max-width: 768px) {
    .bitum-logotype:hover {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
    }
}

@media (max-width: 350px) {
    .parallax-logotype {
        width: 250px;
    }
    
    .bitum-logotype {
        width: 250px;
    }
}
