/**
* Images
**/

.img-header {
    display: block;
    width: 100%;
    object-fit: cover;
    filter: contrast(135%);
}

@media (max-width: 768px) {
    .burger-menu {
        display: block;
    }

    .burger-menu::after {
        content: url("../img/open.png");
    }

    .nav {
        display: none;
    }

    .menu-show {
        display: block;
    }

    .menu-show.nav ul {
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        padding: 10px;
        position: fixed;
        line-height: 2.5;
        min-height: 100vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: var(--color-light);
    }

    .menu-show.burger-menu::after {
        content: url("../img/close.png");
    }

    .nav ul a {
        color: var(--color-dark);
    }

    .is-sticky a {
        color: var(--color-dark);
    }
}
