/* Scroll Down */
.scroll-indicator {
    position: relative;
    top: 50vh;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 60px;
    border: 2px solid var(--color-indigo);
    border-radius: 50px;
    box-shadow: 0px 0px 35px -5px var(--color-indigo);
}
  
.scroll-indicator::before {
    content: '';
    position: absolute;
    top: .5em;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: var(--color-indigo);
    border-radius: 50%;
    transform: translate(-50%, 0);
    animation: scrollAnim 1.8s .5s infinite ease-in;
    box-shadow: 0px 0px 35px -5px var(--color-indigo);
}
  
/* Animation Scroll Down */
@keyframes scrollAnim {
    0% {
      transform: translate(-50%, 0) rotateX(0);
      opacity: 0;
    }
  
    5% {
      opacity: .5;
    }
  
    15% {
      opacity: 1;
    }
  
    90%,
    100% {
      opacity: 0;
    }
  
    100% {
      transform: translate(-50%, 30px) rotateX(30deg);
    }
}
/* Animation Scroll Down */
