/* Scroll Down */
.scroll-indicator {
    position: relative;
    top: 50vh;    
    display: block;
    margin: 0 auto;
    width: 84px;
    height: 42px;
    cursor: pointer;
    animation-name: animateArrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
 
@keyframes animateArrow {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 350px) {
     .scroll-indicator img {
          width: 50px;
     }
}

